{% extends 'cosydorm/layout.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}

{% include 'cosydorm/partials/banner.html' %}

<sectionI class="sec-10 bodyx">
    <div class="containerI">
        <div class="contentI">
            <div class="infoI">
                <h3 class="info-titleI">FOLD</h3>
                <p class="mt-3">Our machines are allways in the best conditions</p>
                <p class="mt-3">That make us the best in what we do and the care to your clothes.</p>
            </div>

            <div class="imageI">
                <img src="{% static '/img/storage/storage.jpg' %}" alt="storage" />
            </div>
            
            <div class="infoII">
                <h3 class="info-titleII">FOLD</h3>
                <p class="mt-3">Our machines are allways in the best conditions</p>
                <p class="mt-3">That make us the best in what we do and the care to your clothes.</p>
            </div>
        </div>
    </div>
</sectionI>

<sectionI class="sec-10 bodyz">
    <div class="containerI">
        <div class="contentI">
            <div class="infoI">
                <img src="{% static '/img/storage/boxes.jpeg' %}" class="imgLaun" alt="storage" />
            </div>

            <div class="infoIII">
                <h3 class="info-titleIII">PROCEDURES</h3>
                <p>Call for pricing</p>
                <p>Boocking your pickUp</p>
                <p>Pacage yor stuff in boxes</p>
                <p>Mark your boxes clear</p>
                <p>Don't worry.. be happy</p>
            </div>
            
            <div class="infoII">
                <img src="{% static '/img/storage/mark.jpg' %}" class="imgLaun" alt="storage" />
            </div>
        </div>
    </div>
</sectionI>


<script src="{% static 'js/bubblesII.js' %}" type="text/javascript"></script>
<script src="{% static 'js/storage.js' %}" type="text/javascript"></script>

{% endblock %}
