/* common */
/* to generate gradient https://cssgradient.io */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgb(134, 246, 250);
    font-family: consolas;
}
.bodyI{
    color: aliceblue;
    background: rgb(47, 41, 236);
    font-family: consolas;
}
.bodyx{
    color: aliceblue;
    background: rgb(64,184,240);
    background: linear-gradient(0deg, rgba(64,184,240,1) 0%, rgb(47, 41, 236) 86%);
    font-family: consolas;
}
.bodyy{
    background: rgb(64,184,240);
    background: radial-gradient(circle, rgba(64,184,240,1) 0%, rgba(47, 41, 236) 86%);
    font-family: consolas;
}
.bodyz{
    color: aliceblue;
    background: rgb(64,184,240);
    background: linear-gradient(180deg, rgba(64,184,240,1) 0%, rgb(47, 41, 236) 86%);
    font-family: consolas;
}

/* GENERAL */

.borde{
    border: solid 1px black !important;
}
.c{
    text-align: center !important;
}
.hidden{
    display: none;
}
.hr{
    color: rgb(194, 194, 242);
    height: 3px !important;
}
.sticky {
    position: sticky;
    top: 10px;
}
.lists{
    list-style-type: none;
}
.btn-color{
    background:#1b1466;
    border-color: #1b1466;
}
.btn-color2{
    background:#146622;
    border-color: #146622;
}
.alrig{
    text-align: right
}

/* LAUNDRY section sec-01 */

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #9999ff;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-title{
    font-size: 4em;
    margin-bottom: 50px;
}
.content{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .image{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.content .image img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.content .text-box{
    z-index: 222;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 80px);
}
.content .text-box h3{
    font-size: 2em;
    margin-bottom: 10px;
}
.content .text-box p{
    color: #000070;
    font-size: 1.3em;
    margin-bottom: 10px;
}

/* LAUNDRY section sec-02 */

.info{
    width: 700px;
    margin-left: 50px;
}
.info-title{
    font-size: 2em;
    margin-bottom: 10px;
}

.info p{
    font-size: 1.3em;
    margin-bottom: 10px;
}

/* IMAGES */

.imgLaun {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    border-radius: 20px;
    -webkit-margin-bottom-collapse: initial;
    z-index: 1;
}

.imgLaunII {
    width: 80%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    border-radius: 20px;
    -webkit-margin-bottom-collapse: initial;
    z-index: 1;
}

.imgclean {
    width: 70%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    border-radius: 20px;
    -webkit-margin-bottom-collapse: initial;
    z-index: 1;
}

/* CLEANING */

.h9 {
    font-family: consolas;
    text-shadow: 1px 1px #130d57;
}

.img {
    max-width: 80%;
    height: auto;
}

ul.a {
    align-items: flex-start;
    list-style: none;
}

/* navbart */

.imgnav {
    width: 130px;
    height: auto;
    vertical-align: middle;
    border-style: none;
    -webkit-margin-bottom-collapse: initial;
    padding-top: 2px;
    padding-left: 30px;
    z-index: 1;
}
.imgicoLogin{
    width: 50px;
    height: auto;
    vertical-align: middle;
    border-style: none;
    -webkit-margin-bottom-collapse: initial;
    padding-top: 2px;
    padding-left: 30px;
    z-index: 1000;
}
.atxt1 {
    color: #9999ff !important;
    
}
.atxt3 {
    color: #000070 !important;
    font-size: large;
    font-weight: bold;
}
.stic {
    position: sticky;
    top: 0px;
    z-index: 999;
}

.back-clear {
    color: #000070;
    background-color: #9999ff;
}

.prod {
    z-index: -1 !important;
}

/* contact */

.backcol {
    background-color: rgb(47, 41, 236);
}

.imgred {
    width: 100px;
    height: auto;
    vertical-align: middle;
    border-style: none;
    -webkit-margin-bottom-collapse: initial;
    padding-top: 2px;
    padding-left: 30px;
    z-index: 1000;
}

/* footer */

.b-fixed{
    margin-bottom: 20px;
    z-index: 999;
}

.back-black {
    color: aliceblue;
    background: rgb(57,46,244);
    background: radial-gradient(circle, rgb(77, 67, 250) 0%, rgba(113,109,240,1) 21%, rgba(62,62,228,1) 57%, rgba(0,212,255,1) 100%);
}

/* back-to-top */

.backtotop {
    width: 40pt;
    height: auto;
    position: fixed;
    bottom: 4.50rem;
    right: 1.75rem;
    z-index: 999;
}

.backtotop:hover {
    color: transparent;
    background-color: transparent;
}

/* bootstrap */

.toast-body{
    color: black !important;
}

/* ICONS */

.imgico{
    width: 120px;
    height: auto;
    vertical-align: middle;
    border-style: none;
    -webkit-margin-bottom-collapse: initial;
    padding-top: 2px;
    padding-left: 30px;
    z-index: 1000;
}

.imgventas{
    width: 400px;
    height: auto;
    vertical-align: middle;
    border-style: none;
    -webkit-margin-bottom-collapse: initial;
    padding-top: 2px;
    padding-left: 30px;
    z-index: 1000;
}

.imgfacturas{
    width: 500px;
    height: auto;
    vertical-align: middle;
    border-style: none;
    -webkit-margin-bottom-collapse: initial;
    padding-top: 2px;
    padding-left: 30px;
    z-index: 1000;
}

/* TEXTOS */

.txtupp {
    text-transform: uppercase;
}

.txtlow {
    text-transform: lowercase;
}

.txtcap {
    text-transform: capitalize;
}