/* bubbleWrapper I */

.h7 {
    font-size: 4em;
    color: rgb(134, 246, 250);
}

.alr {
    text-align: left;
}

.bubbleWrapperI {
    z-index: 666;
    position: relative;
    height: 50vh;
    display: flex;
    background: rgb(64,184,240);
    background: linear-gradient(180deg, rgba(64,184,240,1) 0%, rgb(47, 41, 236) 86%);
    overflow: hidden;
}

.bubbleWrapperI span {
    position: absolute;
    bottom: -50px;
    background-color: transparent;
    box-shadow: inset 0px 0px 10px rgb(134, 246, 250);
    border-radius: 50%;
    pointer-events: none;
    animation: moveBubblesIII 10.5s linear infinite;
}

@keyframes moveBubblesIII{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-2500%);
    }
}

/* bubbleWrapper II */

.h8 {
    font-size: 4em;
    color: rgb(134, 246, 250);
    text-shadow: 3px 3px #130d57;
}

.shadow {
    text-shadow: 2px 2px #372e9e;
}

.bubbleWrapperII {
    position: relative;
    height: 50vh;
    display: flex;
    background: rgb(64,184,240);
    background: linear-gradient(180deg, rgba(64,184,240,1) 0%, rgb(47, 41, 236) 86%);
    overflow: hidden;
    padding: 30px 100px;
}

.bubbleWrapperII span {
    position: absolute;
    bottom: -50px;
    background-color: transparent;
    box-shadow: inset 0px 0px 10px rgb(134, 246, 250);
    border-radius: 50%;
    pointer-events: none;
    animation: moveBubblesII 10.5s linear infinite;
}

@keyframes moveBubblesII{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-2500%);
    }
}
