{% extends 'comercial/layout.html' %}
{% load static %}
{% block content %}

<div class="container-fluid ">
    <div class="container col-lg-8 mx-auto font-1">

        <div class="col-md-10 m-5 mx-auto c ">
            <h1>Entrance</h1>
        </div>

        <form method="POST" action="">
            {% csrf_token %}

            <div class="col-lg-11 mx-auto mt-4">
                <div class="col-md-5 mt-3 mb-3 mx-auto c">
                    <label>Username </label>
                    <input type="text" name="username" class="form-control">
                </div>
            </div>

            <div class="col-lg-11 mx-auto ">
                <div class="col-md-5 mx-auto c">
                    <label>Password </label>
                    <input type="password" name="password" class="form-control">
                </div>
            </div>

            <div class="col-12 mx-auto">
                <div class="row">
                    <div class="col-6 mt-5 mx-auto c">
                        {{ form.captcha }}
                    </div>
        
                    <div class="col-6 mt-5 d-grid gap-2 mx-auto">
                        <button type="submit" class="btn btn-outline-dark">LogIn</button>
                    </div>
                </div>
            </div>

        </form>

        <div class="col-md-6 row mx-auto">
            <div class="col-md-11 mx-auto c">
                <a href="{% url 'reset_password' %}">
                    <h5>Forgot my password</h5>
                </a>
            </div>
        </div>

    </div>
</div>

{% endblock content %}