{% extends 'cosydorm/layout.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
{% include 'cosydorm/partials/bannerI.html' %}

<div class="col-md-11 p-4 txtcol29 mx-auto">
    <h1 class="c">{{user.username}} This is your Profile</h1>
</div>

<div class="col-11 mx-auto row font-1">


    <div class="col-4 mx-auto mt-3 ">

        <h2>User section</h2>

        <div class="col-10 mx-auto ">
            <label>Nombre</label>
            {{user.first_name}}
        </div>
        <div class="col-10 mx-auto">
            <label>Apellido</label>
            {{user.last_name}}
        </div>

        <div class="col-10 mx-auto">
            <label>Numero de Teléfono</label>
            {{user.profile.phone}}
        </div>
        <div class="col-10 mx-auto mb-4">
            <label>Correo</label>
            {{user.email}}
        </div>

    </div>
    <div class="col-4 mx-auto mt-3 ">
        <h2>Address</h2>

        <div class="col-10 mx-auto">
            <label>Institute</label>
            {{user.profile.institute}}
        </div>
        <div class="col-10 mx-auto">
            <label>Address</label>
            {{user.profile.address1}}
        </div>
        <div class="col-10 mx-auto">
            <label>Address 2</label>
            {{user.profile.address2}}
        </div>
        <div class="col-10 mx-auto">
            <label>City</label>
            {{user.profile.city}}
        </div>
        <div class="col-10 mx-auto">
            <label>State</label>
            {{user.profile.state}}
        </div>
        <div class="col-10 mx-auto">
            <label>Zip Code</label>
            {{user.profile.zip}}
        </div>

    </div>

</div>
<script src="{% static 'js/bubblesI.js' %}" type="text/javascript"></script>
{% endblock content %}
