{% load static %}
<div class="col-12 mb-5 pt-5 pb-5 backcol">
    <div class="row">
        <div class="col-4 ms-5 p-3 c">
            <h2>About Us</h2>
            <p>We cover the cleaning services for most colleges in south Florida, and we are proud of what we do</p>
        </div>

        <div class="col-3 p-3 c">
            <h2>Contact</h2>
            <p>Phone and WhatsApp</p>
            <p>+1 (772) 618 5463</p>
        </div>

        <div class="col-3 pt-3 pe-4 c">
            <h2>Social Media</h2>
            <img src="{% static '/img/redes/facebook.png' %}" class="imgred" alt="LOGO" />
            <img src="{% static '/img/redes/instagram.png' %}" class="imgred" alt="LOGO" />
            <img src="{% static '/img/redes/twiter.png' %}" class="imgred" alt="LOGO" />
        </div>

    </div>
</div>